venv/
.venv/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.env
.DS_Store
*.swp
*.swo
*.log
*.sqlite
*.json
!about_products_*.json
!products_*.json
!pyproject.toml
!poetry.lock
!README.md
